{% extends "compras/base.html" %}
{% load static %}<br/>
{% block contenidoQueCambia %}

  <div class="d-flex">
    <h4>Editar Perfil</h4>
    <a class=" ms-2" href="{% url 'PasswordChange' %}">
      <button type="submit" class="btn btn-danger btn-sm">Cambiar Contraseña</button>
    </a>
  </div>

  <div class="card" style="width: 24rem;">
    <div class="card-body">
      <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Guardar</button>
      </form>
    </div>
  </div>
{% endblock %}
