{% extends "app.html" %} {% load static %} {% block contenidoQueCambia %}
<h1>Clientes</h1>
<table>
  <thead>
    <tr>
      <th>Compras</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Fecha Última Compra</th>
      <th>Habilitado</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    {% for c in clientes %}
    <tr>
      <td>
        <div style="display: flex; justify-content: space-between; gap: 0.5rem">
          <a href="{% url 'Carrito' c.id %}" style="width: 100%"
            ><div class="botonInfo">Carrito</div></a
          >
          <a href="{% url 'BuscarArticulos' c.id %}" style="width: 100%"
            ><div class="botonInfo">Buscar</div></a
          >
        </div>
      </td>
      <td>{{c.nombre}}</td>
      <td>{{c.email}}</td>
      <td>{{c.fecha_ultima_compra}}</td>
      <td>{{c.habilitado}}</td>
      <td>
        <a href="{% url 'EliminarCliente' c.id %}"
          ><div class="botonPeligro">Eliminar</div></a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2>Agregar Cliente</h2>
{% if miFormulario.errors %}

<p style="color: red">Error en los datos ingresados</p>

{% endif %}

<form autocomplete="off" action="" method="POST">
  {% csrf_token %} {{miFormulario.as_table}}

  <input type="submit" value="Enviar" />
</form>
{% endblock %}
