{% extends "compras/base.html" %}
{% load static %}
<br/>
{% block contenidoQueCambia %}
  <div style="text-align: center">
    <h4>
      <i>
        ... Todos tenemos un sueños... como mi antiguo sueños de venir a America y tener una tiendas....
        <br/>¡O mi nuevo sueños de tener una tiendas virtual! ...
      </i>
    </h4>
  </div>
  <br/>
  <div style="font-size: 1.2em">
    <p>
      Mi nombre es Apu Nahasapeemapetilon, pero mis amigos me dicen Apu. Soy ciudadano estadounidense nativo de India. Junto a mi amada Manjula formamos una hermosa familia.
    </p>

    <p>
      Soy dueño del Kwik-E-Mart, un minisupermercado en Springfield, el cual atiendo junto a mi hermano Sanjay. Allí encontrarán todo lo que necesitan, desde papel encerados hasta boletos de lotería.
    </p>
    <p>
      En busca de expandir las barreras del Kwik-E-Mart decidimos crear esta nueva tienda online, para que todos puedan acceder a productos al mejor precios.
    </p>
  </div>
  <br/>
  <div style="font-size: 1.2em; text-align: right">
    <p>
      ¡Gracias por su visitas!
      <br/>
      No olviden ver nuestras ofertas.
      <br/>
      ¡Vuelvan prontos!
    </p>
  </div>
{% endblock %}
