{% extends "compras/app.html" %} {% load static %} <br />
{% block contenidoQueCambia %}
<h1>Articulos</h1>
<table>
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Marca</th>
      <th>Precio Unitario</th>
      <th>Stock</th>
      <th>Disponible</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    {% for a in articulos %}
    <tr>
      <td>{{a.categoria}}</td>
      <td>
        {% if a.imagen %}
        <img width="100" src="{{ a.imagen.url }}" />
        {% else %}
        <img width="100" src="{% static 'compras/assets/img/no-image.png' %}" />
        {% endif %}
      </td>
      <td>{{a.nombre}}</td>
      <td>{{a.marca}}</td>
      <td>{{a.precio_unitario}}</td>
      <td>{{a.stock}}</td>
      <td>{{a.disponible}}</td>
      <td>
        <div style="display: flex; justify-content: space-between; gap: 0.5rem">
          <a href="{% url 'VerArticulo' a.id %}" style="width: 100%"
            ><div class="botonInfo">Ver</div>
          </a>
          <a href="{% url 'EliminarArticulo' a.id %}" style="width: 100%"
            ><div class="botonPeligro">Eliminar</div>
          </a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if articulos|length == 0 %}
<p>No hay artículos aún</p>
{% endif %}

<h2>Agregar Artículo</h2>

{% if miFormulario.errors %}

<p style="color: red">Error en los datos ingresados</p>

{% endif %}

<form autocomplete="off" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %} {{miFormulario.as_table}}

  <input type="submit" value="Enviar" />
</form>
{% endblock %}
