{% extends "compras/base.html" %}
{% load static %}
<br/>
{% block contenidoQueCambia %}
  <h4>Buscar Artículos</h4>

  <form class="row mb-3" action="/compras/articulos" method="GET">
    <div class="col-auto align-self-end">
      <label for="categorias" class="form-label">Categorias</label>
      <input type="text" class="form-control form-control-sm"  name="categorias" id="categorias" value="{{categorias}}">
    </div>
    <div class="col-auto align-self-end">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control form-control-sm"  name="nombre" id="nombre" value="{{nombre}}">
    </div>
    <div class="col-auto align-self-end">
      <label for="marca" class="form-label">Marca</label>
      <input type="text" class="form-control form-control-sm" name="marca" id="marca" value="{{marca}}">
    </div>
    <div class="col-auto align-self-end">
      <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
    </div>
  </form>
  <br/>
  <table class="table">
    <thead>
      <tr>
        <th>Categorias</th>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Precio Unitario</th>
        <th>Stock</th>
        {% if request.user.is_authenticated and request.user.is_staff %}
        <th>Disponible</th>
        {% endif %}
        <th>Detalles</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      {% for a in articulos %}
        <tr>
          <td>{{a.categorias}}</td>
          <td>
            {% if a.imagen %}
              <img width="100" src="{{ a.imagen.url }}"/>
            {% else %}
              <img width="100" src="{% static 'compras/assets/img/no-image.png' %}"/>
            {% endif %}
          </td>
          <td>{{a.nombre}}</td>
          <td>{{a.marca}}</td>
          <td>${{a.precio_unitario}}</td>
          <td>{{a.stock}}</td>
          {% if request.user.is_authenticated and request.user.is_staff %}
          <td>{{a.disponible}}</td>
          {% endif %}
          <td><a href="{% url 'VerArticulo' a.id %}">
            <button type="button" class="btn btn-primary btn-sm w-100">Ver</button>
          </a></td>
          <td>
            <div class="row">
              </div>
              {% if request.user.is_authenticated and request.user.is_staff %}
                <a href="{% url 'EliminarArticulo' a.id %}">
                  <button type="button" class="btn btn-danger btn-sm w-100">Eliminar</button>
                </a>
              {% endif %}
              
              {% if request.user.is_authenticated and not request.user.is_staff %}
              <div class="col-auto align-self-end">

              <form class="row" action="/compras/carrito/agregar/{{a.id}}" method="POST">
                {% csrf_token %}
                
                <div class="col-6 align-self-end ">
                  <input type="number" class="form-control form-control-sm" name="cantidad" id="cantidad" value="1" min="1" max="{{a.stock}}">
                </div>
                <div class="col-6 align-self-end">
                  <input class="btn btn-success btn-sm w-100" type="submit" value="Agregar">
                </div>
              </form>
            </div>

              {% endif %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if articulos|length == 0 %}
    <p>No hay artículos aún</p>
  {% endif %}
  {% if request.user.is_authenticated and request.user.is_staff %}
    <a href="{% url 'AgregarArticulo' %}">
      <button type="button" class="btn btn-success">Agregar</button>
    </a>
  {% endif %}
{% endblock %}
