{% extends "compras/base.html" %}
{% load static %}
<br/>
{% block contenidoQueCambia %}
  <h4>Carrito de
    {{request.user.first_name}}</h4>
    <table class="table">
      <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Precio Unitario</th>
        <th>Cantidad</th>
        <th>Suma Parcial</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      {% for i in carrito %}
        <tr>
          <td>
            {% if i.articulo.imagen %}
              <img width="100" src="{{ i.articulo.imagen.url }}"/>
            {% else %}
              <img width="100" src="{% static 'compras/assets/img/no-image.png' %}"/>
            {% endif %}
          </td>
          <td>{{i.articulo.nombre}}</td>
          <td>{{i.articulo.marca}}</td>
          <td>${{i.articulo.precio_unitario}}</td>
          <td>
            <form class="row" action="/compras/carrito/set/{{i.id}}" method="POST">
              {% csrf_token %}
              <div class="col-7 align-self-end px-1">
                <input onChange="form.submit()" type="number" class="form-control form-control-sm" name="cantidad" id="cantidad" value="{{i.cantidad}}" min="1" max="{{i.articulo.stock}}">
              </div>
              <div class="col-5 align-self-end px-1">
                /{{i.articulo.stock}}
              </div>
            </form>
          </td>
          <td>${{i.suma_parcial}}</td>
          <td>
            <a href="{% url 'EliminarItem' i.id %}">
              <button type="button" class="btn btn-danger btn-sm w-100">Eliminar</button>
            </a>
          </td>
        </tr>
      {% endfor %}
      
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td>Total</td>
        <td>${{total}}</td>
      </tr>
    </tfoot>
  </table>
  {% if carrito|length == 0 %}
    <p>No hay items aún</p>
  {% endif %}
  <a href="{% url 'Articulos' %}">
    <button type="button" class="btn btn-success">Seguir Comprando</button>
  </a>
{% endblock %}
